.body_login {
	font: 12px/normal "ו"; margin: 0px; text-align: center; color: rgb(102, 102, 102); font-size-adjust: none; font-stretch: normal; background-color: rgb(238, 238, 238);
}
.n_main {
	background-image: url("../../images/pmlc12_bg_sy.gif");
}
.logo {
	margin: 0px; width: 244px; height: 89px; float: left; background-image: url("../../images/pmlc_logo_amlc.gif"); background-repeat: no-repeat;
}
.wel_font {
	width: 260px; text-align: right; color: rgb(255, 255, 255); font-family: ו; font-size: 12px;
}
a.white_a {
	color: rgb(255, 255, 255) !important;
}
a.white_a:hover {
	color: rgb(255, 255, 255) !important;
}
a.white_a:visited {
	color: rgb(255, 255, 255) !important;
}
.login {
	margin: 0px; padding: 5px 10px; width: 739px; height: 44px; text-align: right; float: right; background-image: url("../../images/pmlc_head_amlc.gif"); background-repeat: no-repeat;
}
.menu_left_td {
	background-image: url("../../images/pmlc_menu_left_amlc.gif"); background-repeat: no-repeat;
}
.menu {
	margin: 0px; width: 759px; height: 35px; overflow: hidden; float: right; background-image: url("../../images/pmlc_menu.bg3.gif"); background-repeat: repeat-x; background-color: rgb(68, 134, 40);
}
.p_login_mark {
	margin: 0px; padding: 0px; text-align: left; text-indent: 2em; table-layout: fixed;
}
.container_login {
	width: 1003px; height: auto; text-align: center; overflow: hidden; margin-right: auto; margin-left: auto; background-color: rgb(255, 255, 255);
}
.logo_login {
	width: 1003px; height: 83px; background-image: url("../../images/logo_amlc.gif");
}
.menu_login {
	width: 260px; height: 39px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; background-image: url("../../images/menu.gif"); background-repeat: no-repeat;
}
.menu_login a {
	color: rgb(255, 255, 255); text-decoration: none;
}
.menu_login a:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
.menu_login a:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
.menu_login a:hover {
	color: rgb(0, 255, 0); text-decoration: none;
}
.menu_login a:active {
	color: rgb(0, 255, 0); text-decoration: none;
}
.pagebody_login {
	height: auto; background-color: rgb(255, 255, 255);
}
.pagebody_left_downbj_login {
	margin: auto; width: 180px; height: 29px; border-right-color: rgb(255, 255, 255); border-right-width: 2px; border-right-style: solid;
}
.textbox00_login {
	width: 180px; height: 20px; text-align: left; color: rgb(102, 102, 102); padding-left: 3px; float: left;
}
.textbox_login {
	width: 180px; text-align: left; color: rgb(102, 102, 102); line-height: 15px; padding-right: 20px; padding-left: 1px;
}
.textbox001_login {
	width: 180px; height: 155px; text-align: left; color: rgb(102, 102, 102); line-height: 15px; padding-left: 5px;
}
.textbox002_login {
	width: 180px; height: 155px; text-align: left; color: rgb(102, 102, 102); line-height: 15px; padding-right: 5px; padding-left: 5px;
}
.footer_login {
	margin: auto; overflow: hidden;
}
a.foot_a {
	color: rgb(102, 102, 102); text-decoration: none !important;
}
a.foot_a:hover {
	color: rgb(102, 102, 102); text-decoration: none !important;
}
a.foot_a:visited {
	color: rgb(102, 102, 102); text-decoration: none !important;
}
a.foot_a:hover {
	color: rgb(153, 153, 153);
}
.footer_up_login {
	width: 1003px; height: 30px; text-align: center; color: rgb(255, 255, 255);
}
.table_t2 {
	background: url("../../images/bg_zhong_03.gif") repeat-x; width: 1004px; height: 40px; border-right-color: rgb(190, 190, 190); border-bottom-color: rgb(190, 190, 190); border-left-color: rgb(190, 190, 190); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-collapse: collapse;
}
.table_t2 tr {
	height: 16px; color: rgb(51, 51, 51); line-height: 16px;
}
.table_t2_w {
	text-align: left; color: rgb(34, 34, 34);
}
#main_top {
	margin: 10px auto 0px; padding: 10px 20px; border: 1px solid rgb(190, 190, 190); border-image: none; background-color: rgb(241, 249, 238);
}
.top_table {
	background: rgb(238, 248, 226);
}
.top_table tr {
	height: 35px; line-height: 35px;
}
.top_table td {
	
}
.top_table td input {
	border: 1px solid rgb(184, 184, 184); border-image: none; line-height: 20px;
}
.top_input {
	background: rgb(255, 255, 255); border: 1px solid rgb(190, 190, 190); border-image: none; width: 200px; height: 20px; line-height: 20px;
}
.top_input2 {
	border: 1px solid rgb(190, 190, 190); border-image: none; width: 120px; height: 20px; line-height: 20px;
}
.top_input3 {
	border: 1px solid rgb(190, 190, 190); border-image: none; width: 60px; height: 20px; line-height: 20px;
}
.top_input4 {
	border: 1px solid rgb(190, 190, 190); border-image: none; width: 40px; height: 20px; line-height: 20px;
}
.top_wenzi {
	text-align: right; color: rgb(0, 95, 0); font-weight: bold;
}
.tableNew {
	margin: 10px auto; width: 1004px; height: auto; overflow: visible;
}
.table_t {
	background: url("../../images/bg_zhong_03.gif") repeat-x; width: 1004px; border-collapse: collapse;
}
.table_t tr {
	height: 40px; color: rgb(8, 92, 6); line-height: 40px; font-size: 14px; font-weight: bold;
}
.table_t .table_t_wen {
	color: rgb(51, 51, 51); font-size: 12px; font-weight: normal;
}
.table_tanchu1 {
	margin-bottom: 10px; border-collapse: collapse;
}
.table_tanchu1 tr {
	height: 28px; color: rgb(51, 51, 51); line-height: 29px;
}
.table_tanchu1 .TG_wen2 {
	text-align: left; color: rgb(255, 0, 0); font-size: 12px;
}
.tb_txtbox1 {
	border: 1px solid rgb(220, 220, 220); border-image: none; width: 150px; height: 18px; line-height: 18px;
}
.Box_table_t .t_t_wen {
	text-align: right; color: rgb(34, 34, 34); font-weight: bold;
}
.Box_table_t {
	text-align: left; padding-top: 10px; padding-left: 50px; border-right-color: rgb(190, 190, 190); border-bottom-color: rgb(190, 190, 190); border-left-color: rgb(190, 190, 190); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; -ms-word-break: break-all; -ms-word-wrap: break-word; background-color: rgb(240, 248, 235);
}
#warp {
	margin: 0px auto; width: 1004px;
}
.TG_header {
	background: url("../../images/TGJL_header_01.gif") no-repeat; margin: 0px auto; width: 1004px; height: 331px;
}
.TG_p1 {
	width: 322px; color: rgb(51, 51, 51); line-height: 1.5em; padding-top: 36px; padding-left: 658px; font-family: "ו"; font-size: 12px;
}
.TG_p2 {
	color: rgb(51, 51, 51); line-height: 1.5em; padding-top: 160px; padding-left: 765px; font-size: 14px;
}
.TG_main {
	margin: 0px auto; width: 1004px;
}
.TG_tk {
	margin: 0px auto; width: 1004px; padding-bottom: 20px;
}
.TG_tk_wen {
	width: 470px; padding-top: 20px; padding-left: 25px; float: left;
}
.TG_tk_wen h4 {
	color: rgb(51, 51, 51); line-height: 15px; font-size: 12px; font-weight: bold; margin-top: 0px; margin-bottom: 0px;
}
.TG_tk_wen p {
	color: rgb(51, 51, 51); line-height: 1.5em; padding-left: 5px; font-size: 12px; margin-top: 0px; margin-bottom: 0px;
}
.TG_tk_wen p span {
	font-weight: bold;
}
.TG_btn_box {
	padding-left: 269px; margin-top: 60px; float: left;
}
a.TG_btn_TY {
	background: url("../../images/btn_ty.gif") no-repeat; width: 137px; height: 48px; overflow: hidden; display: block;
}
a.TG_btn_TY:link {
	background: url("../../images/btn_ty.gif") no-repeat; width: 137px; height: 48px; overflow: hidden; display: block;
}
a.TG_btn_TY:visited {
	background: url("../../images/btn_ty.gif") no-repeat; width: 137px; height: 48px; overflow: hidden; display: block;
}
a.TG_btn_TY:active {
	background: url("../../images/btn_ty.gif") no-repeat; width: 137px; height: 48px; overflow: hidden; display: block;
}
a.TG_btn_TY:hover {
	background: url("../../images/btn_ty.gif") no-repeat 0px -48px; width: 137px; height: 48px; overflow: hidden; display: block;
}
.TG_btn_box_TY {
	float: left;
}
.TG_btn_box_ZB {
	padding-top: 10px; padding-left: 15px; float: left;
}
.footer {
	background: url("../../images/footer_06.gif") no-repeat; margin: 0px auto; width: 1004px; height: 40px; text-align: center; line-height: 40px;
}
.black {
	background: rgb(225, 225, 225); left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: absolute; z-index: 99;
}
.TG_Box {
	background: url("../../images/TG_box_bg2_03.gif") no-repeat; left: 504px; top: 125px; width: 436px; height: 438px; display: none; position: absolute; z-index: 999;
}
.TG_BOX_cloce {
	padding-top: 25px; padding-right: 25px; padding-bottom: 25px; float: right;
}
.TG_BOX_TABLE {
	
}
.TG_table {
	margin-left: 53px; border-collapse: collapse;
}
.TG_table tr {
	height: 38px; line-height: 38px;
}
.TG_table2 {
	margin-top: 25px; margin-left: 53px; border-collapse: collapse;
}
.TG_table2 tr {
	height: 38px; line-height: 38px;
}
.TG_table3 {
	margin-top: 35px; margin-left: 25px; border-collapse: collapse;
}
.TG_table3 tr {
	height: 38px; line-height: 38px;
}
.TG_table4 {
	margin-top: 40px; margin-left: 200px; border-collapse: collapse;
}
.TG_wen {
	text-align: right; color: rgb(51, 51, 51); font-size: 14px;
}
.TG_BOX_TABLE .TG_wen2 {
	text-align: left; color: rgb(255, 0, 0); font-size: 12px;
}
.TG_input {
	border: 1px solid rgb(220, 220, 220); border-image: none; width: 150px; height: 28px; line-height: 28px;
}
.right_table {
	border-collapse: collapse;
}
.right_table tr {
	height: 26px; line-height: 26px;
}
.right_table2 {
	margin-top: 10px; border-collapse: collapse;
}
.right_table2 tr {
	height: 30px; line-height: 30px;
}
.select_td {
	border: 1px solid rgb(190, 190, 190); border-image: none; width: 80px; height: 22px; line-height: 22px;
}
.select_td2 {
	border: 1px solid rgb(190, 190, 190); border-image: none; width: 160px; height: 22px; line-height: 22px;
}
.R_input {
	border: 1px solid rgb(190, 190, 190); border-image: none;
}
.amlc_table_guandian {
	height: 20px; line-height: 20px; padding-bottom: 5px;
}
div.swffieldset {
	margin: 10px 0px; padding: 10px; border: 1px solid rgb(175, 225, 76); border-image: none;
}
div.swffieldset span.swflegend {
	font: 700 14px/normal Arial, Helvetica, sans-serif; padding: 3px; top: -30px; color: rgb(115, 179, 4); position: relative; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);
}
div.swfflash {
	border-color: rgb(217, 228, 255); margin: 5px; width: 375px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px;
}
.up_mal .progressWrapper {
	width: 500px; overflow: hidden; padding-left: 0px;
}
.progressContainer {
	margin: 0px 0px 5px; padding: 4px; border: 1px solid rgb(232, 232, 232); border-image: none; overflow: hidden; font-size: 12px; background-color: rgb(247, 247, 247);
}
.swfmessage {
	margin: 1em 0px; padding: 10px 20px; border: 1px solid rgb(255, 221, 153); border-image: none; overflow: hidden; background-color: rgb(255, 255, 204);
}
.swfred {
	border: 1px solid rgb(181, 0, 0); border-image: none; background-color: rgb(255, 235, 235);
}
.swfgreen {
	border: 1px solid rgb(221, 240, 221); border-image: none; background-color: rgb(235, 255, 235);
}
.swfblue {
	border: 1px solid rgb(206, 226, 242); border-image: none; background-color: rgb(240, 245, 255);
}
.progressName {
	width: 100%; height: 14px; text-align: left; color: rgb(85, 85, 85); overflow: hidden; font-size: 8pt; font-weight: 700; white-space: nowrap;
}
.progressBarInProgress {
	width: 0%; height: 2px; font-size: 0px; margin-top: 2px; background-color: blue;
}
.progressBarComplete {
	width: 0%; height: 2px; font-size: 0px; margin-top: 2px; background-color: blue;
}
.progressBarError {
	width: 0%; height: 2px; font-size: 0px; margin-top: 2px; background-color: blue;
}
.progressBarComplete {
	width: 100%; visibility: hidden; background-color: green;
}
.progressBarError {
	width: 100%; visibility: hidden; background-color: red;
}
.progressBarStatus {
	width: 100%; text-align: left; color: rgb(0, 0, 0); font-family: Arial; font-size: 7pt; margin-top: 2px; white-space: nowrap;
}
a.progressCancel {
	background-position: -14px 0px; width: 14px; height: 14px; font-size: 0px; float: right; display: block; background-image: url("../../images/cancelbutton.gif"); background-repeat: no-repeat;
}
a.progressCancel:hover {
	background-position: 0px 0px;
}
.up_mal {
	padding: 5px 5px 0px; height: 300px; overflow: auto; border-right-color: rgb(153, 171, 146); border-bottom-color: rgb(153, 171, 146); border-left-color: rgb(153, 171, 146); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; -ms-overflow-x: hidden;
}
.PMLC12_window {
	margin: auto; width: 800px; height: auto; background-color: rgb(255, 255, 255);
}
.PMLC12_window_bt {
	width: 800px; height: 30px;
}
.PMLC12_window_bta {
	width: 120px; height: 30px; text-align: left; padding-left: 10px; float: left;
}
.PMLC12_w_text_green {
	height: 30px; color: rgb(0, 51, 0); line-height: 30px; font-size: 14px; font-weight: bold;
}
.PMLC12_w_exit {
	padding: 5px; width: 20px; height: 20px; float: right;
}
.PMLC12_w_text_greena {
	height: 30px; color: rgb(0, 102, 0); line-height: 30px;
}
.PMLC12_w_ba {
	text-align: left; color: rgb(51, 51, 51); line-height: 20px; font-size: 12px; font-weight: bold;
}
.PMLC12_w_table_a {
	margin: auto; border: 0px currentColor; border-image: none; width: 795px; height: auto; padding-top: 10px;
}
.PMLC12_w_table_b {
	margin: auto; border: 0px currentColor; border-image: none; width: 795px; height: auto;
}
.PMLC12_w_table_bN {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(153, 171, 146) rgb(153, 171, 146); margin: auto; border-image: none; width: 800px; height: auto; padding-top: 25px;
}
.PMLC12_w_text_a {
	text-align: left; color: rgb(102, 102, 102); line-height: 20px; font-weight: bold; vertical-align: top;
}
.PMLC12_w_text_b {
	text-align: left; color: rgb(157, 6, 31); line-height: 20px;
}
.PMLC12_w_text_c {
	text-align: left; color: rgb(153, 153, 153); line-height: 20px;
}
.PMLC12_w_text_d {
	text-align: left; color: rgb(102, 102, 102); line-height: 20px;
}
.PMLC12_w_text_gray {
	text-align: right; color: rgb(11, 71, 2); line-height: 30px; font-size: 12px; font-weight: bold;
}
.PMLC12_w_bian {
	border: 1px solid rgb(122, 176, 108); border-image: none; width: 240px; height: 20px; line-height: 20px; font-size: 12px;
}
.PMLC12_w_bian_a {
	border: 1px solid rgb(122, 176, 108); border-image: none; height: auto; font-size: 12px;
}
.PMLC12_w_bgxian {
	height: 30px; background-image: url("../../images/pmlc12_w_bgxian.gif"); background-repeat: repeat-x;
}
.PMLC12_w_bgxian1 {
	height: 2px; background-image: url("../../images/pmlc12_w_bgxian_q.gif"); background-repeat: repeat-x;
}
.PMLC12_w_sc {
	margin: auto; height: 70px; text-align: center; padding-top: 20px;
}
a.BigButton {
	width: 90px; height: 26px; text-align: center; color: rgb(50, 91, 24); line-height: 26px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../../images/pmlc_btn11.gif");
}
a.BigButton:visited {
	width: 90px; height: 26px; text-align: center; color: rgb(50, 91, 24); line-height: 26px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../../images/pmlc_btn11.gif");
}
a.BigButton:link {
	width: 90px; height: 26px; text-align: center; color: rgb(50, 91, 24); line-height: 26px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../../images/pmlc_btn11.gif");
}
a.BigButton:hover {
	width: 90px; height: 26px; text-align: center; color: rgb(50, 91, 24); line-height: 26px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../../images/pmlc_btn11.1.gif");
}
a.BigButton:active {
	width: 90px; height: 26px; text-align: center; color: rgb(50, 91, 24); line-height: 26px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; background-image: url("../../images/pmlc_btn11.1.gif");
}
.PMLC12_sclw_table_b {
	margin: auto; border: 0px currentColor; border-image: none; width: 100%; height: auto; padding-top: 25px;
}
